@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: theme("colors.background");
  color: theme("colors.textPrimary");
  font-family: "GeistVF", sans-serif;
  overflow-x: hidden;
}

a {
  color: theme("colors.accent1");
  transition: color 0.3s ease;
}

a:hover {
  color: theme("colors.accent2");
}

@keyframes bounce-left-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100vw);
  }
}

#hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
}

.bounce {
  animation: bounce-left-right 5s ease-in-out infinite;
}
